.layerIcon {
  margin-top : 0px;
}

.settingsIcon {
  margin-top : -1px;
}

.tsLabels {
  left : -121px;
}

#bathyContourLabel {
  padding : 3px 2px 2px 7px;
  width : 146px;
}

#bathyContourCbox {
  right    : 6px;
}

div.olControlZoom {
  background-image: url("img/zoomBoxBg.png") !important;
}
div.olControlZoom a {
  background-image: url("img/zoomButtonBg.png") !important;
}
